name: Run tests and upload coverage

on:
  workflow_call:

permissions:
  contents: read

jobs:
  test:
    name: Run tests and collect coverage
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@09d2acae674a48949e3602304ab46fd20ae0c42f

      - name: Set up Go
        uses: actions/setup-go@fa96338abe5531f6e34c5cc0bbe28c1a533d5505
        with:
          go-version: "1.24.4"

      - name: Install dependencies
        run: go mod download

      - name: Run tests
        run: |
          go test -v -coverprofile coverage.out -covermode atomic ./...

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@78f372e97e6e2f82dc51b004c5fb646501ee30ae
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
